/* Container principal */
.about-container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Centralizando o título principal */
  .Title {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  
  .Michaelkahn{
    font-size: 2em;
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
  }
  /* Centralizando a citação */
  .Sub {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: #fff;
  }
  

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  .img-container {
    flex: 1;
    padding-right: 20px;
  }
  
  .arthur-img {
    width: 100%;
    max-width: 700px; /* Ajuste para o tamanho da imagem */
    border-radius: 8px;
    object-fit: cover; /* Mantém a proporção da imagem */
    height: 100%;
    width: 80%;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 12px;
    transition: all 0.5s;
    display: inline-block;
    padding-top: 9em;
  }

  .arthur-img:hover {
  filter: grayscale(0%);
  transition: all 0.5s;
  border-radius: 12px;
  width: 100%;
}
  
h2.Sub {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem; 
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 20px;

  color: #fff;
  text-align: center;
}


  
  .text-container {
    flex: 2;
    text-align: left;
    padding-left: 20px;
  }
  
  .Name {
    margin-top: 2em;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2em;
    color: #fff;
  }
  
  .description {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: left;
    color: #fff;
    margin-bottom: 2em;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
  
    .img-container {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .text-container {
      text-align: center;
      padding-left: 0;
    }
  }
  