/* Container principal */
.about-container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Centralizando o título principal */
.Title {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  
.Michaelkahn{
    font-size: 2em;
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
  }
  /* Centralizando a citação */
.Sub {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: #fff;
  }
  

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
.img-container {
    flex: 1;
    padding-right: 20px;
  }
  
.arthur-img {
    width: 100%;
    max-width: 700px; /* Ajuste para o tamanho da imagem */
    border-radius: 8px;
    object-fit: cover; /* Mantém a proporção da imagem */
    height: 100%;
    width: 80%;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 12px;
    transition: all 0.5s;
    display: inline-block;
    padding-top: 9em;
  }

.arthur-img:hover {
  filter: grayscale(0%);
  transition: all 0.5s;
  border-radius: 12px;
  width: 100%;
}
  
h2.Sub {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem; 
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}  
.text-container {
    flex: 2;
    text-align: left;
    padding-left: 20px;
  }
  
.Name {
    margin-top: 2em;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2em;
    color: #fff;
  }
 
.description {
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: left;
  color: #fff;
  margin-bottom: 2em;
}


.form-container {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.form-container {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 18px 22px;
  font-size: 16px;
  border: 1px solid #aaa; /* borda mais fina */
  border-radius: 30px;
  background-color: #000000;
  outline: none;
  color: #ffffff;
  transition: border-color 0.3s ease;
}

.form-group textarea {
  height: 120px;
  resize: none;
  border-radius: 20px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #ffffff;
  transition: opacity 0.2s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #f5443d;
}

.contato{
  font-family: 'DM Serif Display', serif;
  color: aliceblue;
  padding-top: 3em;
  font-size: 3em;
  font-weight: normal;

}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 54px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 36px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f8b122;
  left: -2px;
  transform: translateX(90%);
  transition: all 0.3s ease-out;
  z-index: 1;
}

.button::after {
  content: '';
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: 1px solid #f8b122;
  border-radius: 36px;
  z-index: 2;
}

.button:hover::before {
  transform: translateX(0%);
}

.button:hover .text,
.button:hover .icon svg {
  color: #000; /* texto e ícone pretos no hover */
}

.text {
  white-space: nowrap;
  line-height: 1.2;
  padding-inline-end: 44px;
  z-index: 2;
  transition: color 0.3s ease;
}

.icon {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 54px;
  height: 54px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f8b122;
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon svg {
  color: #fff;
  transition: color 0.3s ease;
}

  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
  
    .img-container {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .text-container {
      text-align: center;
      padding-left: 0;
    }
  }
  